<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <h2>v-for연습 : 반응형 데이터 생성 및 사용</h2>
    <div id="app">
        <div>
            <h3>도서 정보</h3>
            <div v-for="(book, index) in bookList" :key="index">
                <input type="checkbox" :id="'book' + index" :value="book" v-model="selectedBooks">
                <label :v-for="'book' + index">{{book.name}} {{book.price}}</label>
            </div>
        </div>

        <div>
            <h3>선택된 도서 : </h3>
            <ul style="list-style-type: none;">
                <li v-for="(selBooks, index) in selectedBooks" :key="index">{{index + 1}} : {{selBooks.name}} {{selBooks.price}}</li>
            </ul>
        </div>
    </div>
    
    <script>
        const {createApp, ref} = Vue;

        createApp({
            setup() {   // 컴포넌트의 초기 상태와 로직을 설정, ref와 reactive를 사용해 반응형 상태를 정의
                const bookList = ref([
                    // 반응형 데이터로 동작
                    // 컴포넌트에서 변경될 때 자동으로 추적되어 UI를 리렌더링함
                    {name:"자바 기본", price:25000},
                    {name:"MariaDB 활용", price:27000},
                    {name:"JS 기본", price:29000},
                    {name:"Spring 심화", price:32000},
                    {name:"React 활용", price:31000},
                ]);

                const selectedBooks = ref([]);  // 사용자가 선택한 책 저장용 배열

                return {bookList, selectedBooks};
            }
        }).mount("#app");
    </script>
</body>
</html>