<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
조건부 렌더링을 위한 v-if 연습
<hr>
<div id="app">
    <p v-if="season">여름 좋아유~~</p>
    <p v-else>겨울이 좋아~</p>
    <button @click = "season = !season" class="btn btn-success">결과 바꾸기</button>

    <!-- 조건, 반복 렌더링을 할 때 유용한 특수 html tag -->
    <template v-if="season">
        <p>옷 입기가 편해</p>
        <p>벌레가 ㅜㅜ</p>
    </template>
    <template v-else>
        <p>배고프고요</p>
        <p>졸려요</p>
    </template>
    <br>
    <span v-show="season">
        <p>여름이다~~</p>
    </span>
    <!-- v-if, v-show의 차이 -->
    <p v-if="season">여름 굿 - false인 경우 코드가 제거</p>
    <p v-show="season">여름 굳 - false인 경우 display:none이 됨</p>

    <hr>
    <label><input type="checkbox" v-model="myVisible"/>체크박스 표시</label>
    <p v-if="myVisible">Check on</p>
    <p v-else>Check off</p>
    
    <!-- count 값에 따른 조건부 렌더링 -->
    <p v-if="count === 10">{{count}}번 클릭 !! 버튼 비활성화</p>
    <p v-else-if="count >= 1">현재 클릭 횟수 : {{count}}</p>
    <p v-else>버튼을 클릭하세요</p>
    <button v-bind:disabled="count === 10" @click="addFunc">숫자 늘리기</button>
</div>

<script>
const {createApp} = Vue;

createApp({
    data() {
        return {
            season:true,        // true(여름), false(겨울)
            myVisible:false,   // checkbox 상태 초기화
            count:0,
        }
    },
    methods: {
        addFunc(){
            this.count++;
        }
    },
}).mount('#app');

</script>

</body>
</html>