<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
<!-- 첫번째 인스턴스 -->
<div id="app">
{{key}} {{key2}}
<br>
<b>{{message}}</b>
<br>
<input type="text" v-model="message">
<div v-html="htmlString"></div>
<div>{{htmlString}}</div>
<br>
<!-- 이벤트 리스너를 이용해 메소드 호출 -->
<button @click="myFunc">클릭</button>
<button @click="myChange1">변경1</button>
<button @click="myChange2">변경2</button>
<br><br>

<!-- 두 수 더하기 -->
<input type="text" size="5" v-model.number="su1"> +
<input type="text" size="5" v-model.number="su2"> =
<span>{{su1 + su2}}</span>
<br>
<img v-bind:src="daumlogo" style="width: 100px; height: auto;" />

</div>

<br><br>
<!-- 두번째 인스턴스
    SyntaxError: Identifier 'createApp' has already been declared (at ex8js2.js:1:1)
    이 오류 해결 방법은 IIFE로 vue 인스턴스를 감싸주면 식별자 충돌문제를 해결할 수 있다 ~.~
-->
<div id="app2">
<select>
    <option v-bind:value="buser.bunho" ::key="buser.irum" v-for="buser in busers">
        {{buser.irum}} {{buser.junhwa}}
    </option>
</select>
<br><br>
<table border="1">
    <thead>
        <tr><th>부서번호</th><th>부서명</th><th>전화</th></tr>
    </thead>
    <tbody>
        <tr v-for="(buser, index) in busers" :key="index">
            <th>{{buser.bunho}}</th>
            <th>{{buser.irum}}</th>
            <th>{{buser.junhwa}}</th>
        </tr>
    </tbody>
</table>
<br>
<span v-bind:style="cssStyleTest">컨텐츠 스타일 바인딩</span>
<button @click="cssStyleTest.fontSize='30px'">fontSize 변경</button>
</div>
<br><hr>

<!-- 세번째 인스턴스 -->
<div id="app3">

</div>
<br><br>

<!-- 각 뷰 인스턴스를 js파일로 작성 후 연결 -->
<script src="ex8js1.js"></script>
<script src="ex8js2.js"></script>
<script src="ex8js3.js"></script>

</body>
</html>